<!-- prettier-ignore -->
{% extends "layout.html" %} 
{% block title %} chai apge {% endblock %} 
{% block content %}
<h1 class="text-9xl">All types of chai</h1>
<div class="grid grid-cols-3 m-3 gap-3">
  {% for chai in chais %}
  <div class="bg-blue-800 p-5">
    <img class="rounded-md" src="{{chai.image.url}} " alt="image" />
    <h3 class="text-2xl font-sans">{{chai.name}}</h3>
    <a href="{% url 'chai_detail' chai.id %}">
      <button
        type="button"
        class="mt-4 block-inline w-[100%] p-3 h-7 bg-orange-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition ease-in-out duration-300 transform hover:scale-105">
        {{chai.type}} - {{chai.id}}
      </button>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
